 .numberexp {
    
    width: 50%;
    color: #d66f37;
    font-family: poppins, sans-serif;
}

.fulldiv1{
    display: flex;
    margin: 135px 0px 0px 170px;
    width: 450px;
    flex-wrap: wrap;
}

.fulldiv1 .div1 h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 60px;
    color: #d96122;
    padding-right: 60px;
}

 .fulldiv1 .div1 h5 {
    font-weight: 500;
    font-size: 18px;
    padding-right: 60px;
}

.fulldiv1 .div2 h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 60px;
    color: #d96122;
}

.fulldiv1 .div2 h5 {
    font-weight: 500;
    font-size: 18px;
}  

