<div class="topbar">
  <div class="header">
    <nav>
      <ul>
        <img [src]= "logo"/>
        <li>
          <a href="#">{{ caseStudy }}</a>
        </li>
        <li *ngFor="let header of headers">
          <label>{{ header }}</label>
          <select></select>
        </li>
        <div class="btnget">
          <button type="button">
            {{ buttonText }}
          </button>
        </div>
      </ul>
    </nav>
  </div>

  <div class="headtext">
    <h1>
      {{ headtext.headText }} <br />
      & {{ headtext.headText1 }}
    </h1>
    <h1>
      {{ headtext.headText3 }} <span>{{ headtext.headText4 }} </span>
    </h1>
    <p>
      {{ headtext.headText5 }}
      <br />
      {{ headtext.headText6 }}
    </p>
    <button type="button">{{ headtext.headButton }}</button>
    <img [src]= 'headtext.img'/>
  </div>
</div>

<!-- ___________________________________________________________ -->

<div class="services">
  <h1>{{ service }}</h1>
  <span class="headerline"></span>
  <div class="boxes">
    <div class="divcontent divcontent1" style="border: none">
      <h1 style="text-align: left; line-height: 70px; font-weight: 700">
        {{ serviceCard1.text1 }} <br />
        <span style="font-weight: bolder; font-size: 60px">{{
          serviceCard1.text2
        }}</span>
        <br />
        {{ serviceCard1.text3 }}
      </h1>
    </div>
    <app-services-card style="display: contents;" [services]="serviceCard2"></app-services-card>
    <div class="divcontent divcontent7">
      <h2>
        {{ serviceCard6.heading }}
        <span style="font-weight: bold">{{ serviceCard6.span }}</span>
      </h2>
      <button>{{ serviceCard6.buttonText }}</button>
    </div>
  </div>
</div>

<!-- ___________________________________________________________ -->
<div class="experience">
  <div class="contentexp">
    <h2>{{ experienceDetailsLeft.heading }}</h2>
    <p>{{ experienceDetailsLeft.details }}</p>
    <button>{{ experienceDetailsLeft.expButton }}</button>
  </div>

  <span>
    <img [src]='experienceDetailsLeft.img' height="490" />
  </span>

  <div class="numberexp">
    <div class="fulldiv1">
      <div class="div1" *ngFor="let expProf of expProfessional">
        <img [src]=" expProf.img " />
        <h1>{{ expProf.heading }}</h1>
        <h5>{{ expProf.heading1 }}</h5>
      </div>
    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<h1 style="text-align: center; margin: 40px; font-size: 2rem; margin-bottom: 0">
  {{ ourTechnologies }}
</h1>
<span class="headerline"></span>
<div class="row">
  <div class="menu">
    <ul>
      <li class="active" *ngFor="let tSidebar of technologySidebar">
        <a href="">{{ tSidebar }}</a>
      </li>
    </ul>
  </div>
  <div class="language">
    <div class="web">
      <h1>{{ technologySidebar[0] }}</h1>
      <h2 style="margin-top: 20px; font-weight: 400">
        {{ technologyBackEndIcon[0].backEnd }}
      </h2>
      <div class="backend">
        <div class="ror" *ngFor="let backend of technologyBackEndIcon">
          <img [src]="backend.img " />
          <h5>{{ backend.language }}</h5>
        </div>
      </div>

      <h2>{{ technologyFrontEndIcon[0].backEnd }}</h2>
      <div class="frontend">
        <div class="react" *ngFor="let frontEnd of technologyFrontEndIcon">
          <img [src]="frontEnd.img" />
          <h5>{{ frontEnd.language }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<h1 class="taglinewhyhead">{{ chooseTagline.title }}</h1>
<span class="headerline"></span>
<p class="taglinewhyp">{{ chooseTagline.details }}</p>
<div class="empowers">
  <div class="empowerbox" *ngFor="let boxCard of boxCards">
    <div class="imgnumflex">
      <img [src]=" boxCard.img " />
      <h1>{{ boxCard.heading }}</h1>
    </div>
    <h5>{{ boxCard.heading1 }}</h5>
    <p>{{ boxCard.detail }}</p>
  </div>
  <div class="empowerbox lastempowerbox">
    <h1>
      <span>{{ empowerboxLast.empower }}</span> {{ empowerboxLast.your }}
      <span>{{ empowerboxLast.business }}</span> {{ empowerboxLast.heading }}
    </h1>
    <button>{{ empowerboxLast.boxButton }}</button>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="reviews">
  <div class="reviewword">
    <h1>{{ ourClientele.title }}</h1>
    <span class="headerline"></span>
    <p>
      {{ ourClientele.detail1 }}
    </p>
    <p>
      {{ ourClientele.details2 }}
    </p>
  </div>
  <div class="reviewsboxes">
    <div class="revbox" *ngFor="let ratingStar of ratingStars">
      <div class="rating">
        <h3>{{ ratingStar.heading }}</h3>
        <div class="icon">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
      </div>

      <p>{{ ratingStar.detail1 }}</p>
      <small>{{ ratingStar.detail2 }}</small>

      <div class="verified">
        <i class="bi bi-patch-check-fill"></i>&nbsp;
        <p>{{ ratingStar.review }}</p>
      </div>
    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="awards">
  <!-- <div class="awardhead"> -->
  <h1>
    {{ awardsRecognitions.heading1 }}<br />
    {{ awardsRecognitions.heading2 }}
  </h1>
  <!-- </div> -->
  <div class="awardimage" *ngFor="let image of awardsRecognitionsImg">
    <img [src]="image" height="160" width="160" />
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="blogs">
  <h1>{{ ourBlogs[0].title }}</h1>
  <span class="headerline"></span>
  <div class="bloggers">
    <div class="blog" *ngFor="let blog of ourBlogs">
      <img [src]="blog.img" />
      <div style="display: flex; justify-content: space-between">
        <button>{{ blog.blogButton }}</button>
        <p>{{ blog.blogDate }}</p>
      </div>
      <h3>{{ blog.heading }}</h3>
      <p>
        {{ blog.heading1 }}
      </p>
      <a href="#">{{ blog.readMore }}</a>
    </div>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="contactus">
  <div class="formdetail">
    <div class="address">
      <h4>{{ globalPresence[0].title }}</h4>

      <div class="place" *ngFor="let global of globalPresence">
        <h6>{{ global.countryName }}</h6>
        <p class="add-city">
          {{ global.address }}
        </p>
        <a href="tel:+91 99138 08285" class="contact mobile-no"
          ><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;
          {{ global.mobileNo }}
        </a>
      </div>

      <div class="place">
        <a href="mailto:solutions@taglineinfotech.com" class="mail"
          ><i class="bi bi-envelope-fill"></i>{{ globalPresence[2].gmail }}</a
        >
      </div>
    </div>
  </div>
  <div class="forms">
    <h1>{{ formDetails.title }}</h1>
    <input type="text" placeholder="Full Name" /><br />
    <input type="text" placeholder="Phone" /><br />
    <input type="email" placeholder="Email" /><br />
    <textarea placeholder="Message" rows="3"></textarea><br />
    <button>{{ formDetails.formButton }}</button>
  </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="footer">
  <div class="firstfooter">
    <div class="cont1">
      <h3>{{ footerDetails.title }}</h3>
      <p>
        {{ footerDetails.heading }}
        <span style="color: #d66f37">{{ footerDetails.heading1 }} </span>
        {{ footerDetails.heading2 }}
        <span style="color: #d66f37">{{ footerDetails.heading3 }}</span>
      </p>
    </div>
    <div class="cont2">
      <input type="text" placeholder="Email" /><span
        ><button>{{ footerDetails.footerButton }}</button></span
      >
      <p>{{ footerDetails.details }}</p>
    </div>
  </div>
  <div class="division">
    <div>
      <div class="hr" *ngFor="let hrInquriy of footerHrInquiry">
        <h3>{{ hrInquriy.title }}</h3>
        <ul>
          <li *ngIf="!hrInquriy.companyName">
            <a href=""
              ><i class="bi bi-telephone-fill"></i>&nbsp;
              {{ hrInquriy.mobileNo }}</a
            >
          </li>
          <li *ngIf="hrInquriy.companyName">
            <a href="">{{ hrInquriy.companyName }} </a>
          </li>
          <li>
            <a href=""
              ><i class="bi bi-envelope-fill"></i>&nbsp;
              {{ hrInquriy.gmail }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="help">
      <h3>{{ footerHelp[0].heading }}</h3>
      <ul>
        <li *ngFor="let help of footerHelp">
          <a href=""
            ><i [ngClass]="help.class"></i>&nbsp;
            {{ help.title }}
          </a>
        </li>
      </ul>
    </div>
    <div class="service">
      <h3>Services</h3>
      <ul>
        <li *ngFor="let service of footerServices">
          <a href="">{{ service }}</a>
        </li>
      </ul>
    </div>
    <div class="hire">
      <h3>Hire Developers</h3>
      <ul>
        <li *ngFor="let hire of footerHireDevlopers">
          <a href="">{{ hire }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="lastfooterdiv">
    <img [src]=" footerLastPortion.img " />
    <div>
      <a href="" style="text-decoration: none; color: gray; font-size: 17px"
        >{{ footerLastPortion.followUs }} <i class="bi bi-facebook"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-globe"></i>
      </a>
    </div>
    <p>
      {{ footerLastPortion.portion1
      }}<span style="color: #d66f37" > {{ footerLastPortion.portion2 }}</span
      >  {{ footerLastPortion.portion3 }}
      <a href="" style="text-decoration: none; color: #d66f37">{{
        footerLastPortion.portion4
      }}</a>
    </p>
  </div>
</div>
<router-outlet></router-outlet>
